<dl id="panel">

  <dt>メイン・メニュー</dt>

    <dd>
      <ol class="coolli">
        <li><%= link_to "奉仕区域", :controller => "holeareamap", :action => "show" %></li>
        <li><a href="#">掲　示　板</a></li>
        <li><a href="#">計画・スケジュール</a></li>
        <li><a href="#">管理者へ報告</a></li>
      </ol>
    </dd>

  <dt>管理者メニュー</dt>

    <dd>
      <ol class="coolli">
        <li><a href="#">入出庫管理</a></li>
        <li><a href="#">登　録</a></li>
        <li><a href="#">更　新　(修　正)</a></li>
        <li><a href="#">削　除</a></li>
        <li><a href="#">訪問拒否宅への訪問計画</a></li>
        <li><a href="#">区域網羅進捗状況</a></li>
      </ol>
    </dd>

</dl>
